@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Hidayatullah';
    src: url('../src/Fonts/Hidayatullah.woff2') format('woff2'),
}

@font-face {
    font-family: 'Serenata_Regular';
    src: url('../src/Fonts/Serenata-Vantages-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'JosefinSans_Regular';
    src: url('../src/Fonts/JosefinSans-Regular.woff2') format('woff2'),
}

@font-face {
    font-family: 'JosefinSans_semibold';
    src: url('../src/Fonts/JosefinSans-SemiBold.woff2') format('woff2'),
}

@font-face {
    font-family: 'JosefinSans_bold';
    src: url('../src/Fonts/JosefinSans-Bold.woff2') format('woff2'),
}

.bg1 {
    transform: rotateY(180deg);
}

textarea {
    resize: none;
}

/* .navbar {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
} */